@use '@angular/material' as mat;
@use 'sass:map';

$custom-primary: map.merge(mat.$m2-blue-palette, (500: #0093e9));
$custom-accent: map.merge(mat.$m2-teal-palette, (500: #80d0c7));

$primary-palette: mat.m2-define-palette($custom-primary);
$accent-palette: mat.m2-define-palette($custom-accent);
$warn-palette: mat.m2-define-palette(mat.$m2-red-palette);

$custom-theme: mat.m2-define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    warn: $warn-palette,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($custom-theme);
